<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!-- <h2>Welcome to Ionic</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p> -->
    <h4>Welcome to the Devnver Eruv App</h4>
    <hr>
    <p>The space below now provides a log of updates that have made to the app.</p>
    <p>In order to view updates, make sure you select the option "Sync to Latest" before viewing the app.</p>
    <p>The app id is <strong>8d62d1c9</strong>. Please save this id to view the app again.</p>
    <p>Feedback can be provided by swiping up with three fingers or my sending me an email or text 720-630-6176. <a href="mailto: aarontoys@gmail.com">aarontoys@gmail.com</a></p>
    <div class="list">
      <div class="item item-divider">
        Mar 23: 10:30 PM
      </div>
    </div>
    <div id="list">
      <ul>
        <li>Fixed issue with id="map" conflicts by renaming ids and updating getElementById for map var</li>
      </ul>
    </div>
    <div class="list">
      <div class="item item-divider">
        Feb 16: 1:00 PM
      </div>
    </div>
    <div id="list">
      <ul>
        <li>Grouped report view by severity and added group headers</li>
        <li>Changed the sort order of items so most recent items are at the top of each group.</li>
        <li>Address on detail page (with large pic) is now selectable so you can copy into Google Maps</li>
        <li>Added a green check box to the report detail page to mark and item as done/complete.</li>
        <li>Report now updates from database when viewed - used as a refresh after removing an item.</li>
      </ul>
    </div>
    <div class="list">
      <div class="item item-divider"">
        Feb 13: 10:00 AM
      </div>
    </div>
    <div id="list">
      <ul>
        <li>List items in the Report (Report View Tab) are now clickable</li>
        <li>When clicked, it will open a view with the Issue, Severity a large picture and a map with the location of the issue.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
