<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Report Form Tab -->
  <ion-tab title="Report Form" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/reportForm">
    <ion-nav-view name="tab-reportForm"></ion-nav-view>
  </ion-tab>

  <!-- Report View Tab -->
  <ion-tab title="Report View" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/reportView">
    <ion-nav-view name="tab-reportView"></ion-nav-view>
  </ion-tab>

  <!-- Sections Tab -->
  <ion-tab title="Sections" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/sections">
    <ion-nav-view name="tab-sections"></ion-nav-view>
  </ion-tab>



</ion-tabs>
