/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

[id*=map] {
    width: 100%;
    height: 80%;
}

/*.item {
  padding-top: 3px;
  padding-bottom: 3px;
}*/
#list {
  /*width: 210px;*/
  margin: 10px auto;
  /*font-size: 20px;*/
}
#list ul {
  /*margin-top: 30px;*/
}
#list ul li {
  text-align: left;
  list-style: disc;
  margin: 10px 20px;
  /*margin-left: 20px;*/
}

.item-icon-right .icon.ion-checkmark-circled {
  top: 20px;
  align-items: flex-start;
}

.item-icon-right .icon.ion-ios-copy {
  top: -20px;
  align-items: flex-end;
}